body{
    font-family: 'Montserrat', sans-serif;
}
header{
    background: linear-gradient(#1B2A36 90%, #7BC3F5);  
    display: flex;
    padding: 15px;
}
main{
    padding-right: 2%;
    background-color: #7BC3F5;
}
.contenidoElementos{
    padding: 10px;
    height: 75vh;
    display: flex;
    justify-content: space-around;
}
.panelIzquierdo{
    display: flex;
    flex-direction: column;
    width: 60%;
    height: auto;
    border-radius: 20px;
}
#textAreaMensaje{
    background: #7BC3F5;
    color: #0A3871;
    width: 80%;
    height: 80%;
    outline: none;
    display: inline-block;
    border: none;
    padding: 10px 10px;
    margin: 5% 7%;
    font-size: 20px;
    resize: none;
}
#textAreaMensaje::-webkit-scrollbar{
    background-color: #0A3871;
    border-radius: 20px;
    width: 8px;
}
#textAreaMensaje::-webkit-scrollbar-thumb{
    background-color: #50A2B5;
    border-radius: 20px;
    width: 8px;
}
#textAreaMensaje::placeholder{
    color: #183036;
    width: 50%;
    font-size: 20px;
}
.panelDerecho{
    width: 40%;
    height: auto;
    border-radius: 20px;
    background: #FEFEFE;
}
.elementosNoEncontrado{
    margin: 5% 0;
}
#imagenMostrarMensaje{
    margin: 0 5%;
    width: 90%;
    height: 250px;
}
#textoNoEncontrado{
    margin: 2% 5%;
    font-size: 30px;
    font-weight: bold;
    text-align: center;
}
#ingreseTexto{
    margin: 1% 5%;
    font-size: 20px;
    text-align: center;
}
#textAreaMostrarMensaje{
    width: 90%;
    height: 55vh;
    margin: 5%;
    border: none;
    outline: none;
    background: #FEFEFE;
    border-radius: 10px;
    font-size: 20px;
    box-shadow: 0px 24px 32px -8px rgba(0, 0, 0, 0.08);
    resize: none;
}
#textAreaMostrarMensaje::-webkit-scrollbar{
    background-color: #0A3871;
    border-radius: 20px;
    width: 8px;
}
#textAreaMostrarMensaje::-webkit-scrollbar-thumb{
    background-color: #50A2B5;
    border-radius: 20px;
    width: 8px;
}
.botonCopiar{
    width: 30%;
    padding: 10px 10px;
    font-size: 18px;
    font-weight: bold;
    color: #FFFFFF;
    background: darkgray;
    border: none;
    border-radius: 20px;
    transition: 1s all;
    cursor: pointer;
    margin-bottom: 7%;
    margin-left: 35%;
}
.botonCopiar:hover{
    background-color: #80bcf0;
    transform: scale(1.02);
}
.elementosEncontrado{
    display: none;
}
.botones{
    margin: 0 10%;
    width: 80%;
    height: auto;
    border-radius: 20px;
    display: flex;
}
.requisitosTexto:before{
    content: " ⚠ ";
    font-weight: bold;
    font-size: 20px;
}
.requisitosTexto{
    font-size: 18px;
    margin-left: 15%;
    margin-bottom: 1%;
}
.botonEncriptar{
    width: 35%;
    padding: 15px 10px;
    font-size: 18px;
    font-weight: bold;
    color: #FFFFFF;
    background: #183036;
    border: none;
    border-radius: 20px;
    transition: 1s all;
    cursor: pointer;
    margin: 5px 15px;
}
.botonDesencriptar{
    width: 35%;
    padding: 15px 10px;
    font-size: 18px;
    font-weight: bold;
    color: #FFFFFF;
    background: #50A2B5;
    border-radius: 20px;
    border: none;
    border-color: #183036;
    transition: 1s all;
    cursor: pointer;
    margin: 5px 15px;
}
.botonEncriptar:hover{
    background-color: #38546d;
    transform: scale(1.02);
}
.botonDesencriptar:hover{
    background-color: #38696d;
    transform: scale(1.02);
}
.botonEncriptar:active{
    background-color: aquamarine;
}
.botonDesencriptar:active{
    background-color: aquamarine;
}
.botonCopiar:active{
    background-color: aquamarine;
}
footer{
    background: linear-gradient(#3B5D75,#1B2A36);
    text-align: center;
    padding: 4px;   
}
.copyright{
    color: #FFFFFF;
    font-size: 14px;
    margin: 20px;
}


@media screen and (max-width:767px) {

    .contenidoElementos{
        flex-direction: column;
        height: auto;
        align-items: baseline;
        padding-left: 1.5%;
    }
    .panelDerecho, .panelIzquierdo{
        width: 97vw;
        align-items: center;
    }
    .requisitosTexto{
        margin: 1% 5%;
        display: block;
    }
    .botones{
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        align-items: center;
        margin-bottom: 4%;
    }
    .botonEncriptar, .botonDesencriptar{
        width: 90vw;
    }
    #imagenMostrarMensaje{
        display: none;
    }
    #textAreaMensaje{
        height: 40vh;
    }
    #textAreaMostrarMensaje{
        height: 35vh;
    }
}
@media screen and (min-width: 768px) and (max-width:1023px) {

    .contenidoElementos{
        flex-direction: column;
        height: auto;
        align-items: baseline;
        padding-left: 1.5%;
    }
    .panelDerecho, .panelIzquierdo{
        width: 97vw;
        align-items: center;
    }
    .requisitosTexto{
        margin: 1% 20%;
        display: block;
    }
    .botones{
        display: flex;
        justify-content: space-around;
        margin-bottom: 4%;
    }
    #imagenMostrarMensaje{
        display: none;
    }
    #textAreaMensaje{
        height:49vh;
    }
    #textAreaMostrarMensaje{
        height: 30vh;
    }
}
